<div class="macro-container container-fluid" *ngIf="loaded">
  <div class="macro-content row">
    <ul
      class="nav-pills macro-menu pl-3 col-12 col-lg-3"
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      orientation="vertical">
        <li ngbNavItem="calories">
          <a class="botao btn-default btn-linha" ngbNavLink>
            <fa-icon class="remove" [icon]="icons.calories"></fa-icon>
            Calories
          </a>
          <ng-template ngbNavContent>
            <div class="row macro-items calories">
              <div class="col-12 calories-item" *ngFor="let item of Macros.calories">
                <div class="card {{item.calc}}">
                  <div class="card-body">
                    <h5 class="card-title">
                      <fa-icon class="remove" [icon]="item.icon || icons[item.calc]"></fa-icon>
                      {{item.title}}
                    </h5>
                    <!-- h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6 -->
                    <p class="card-text"> {{getCalories(item.calc)}} Kcal </p>
                  </div>
                </div>
              </div>
            </div>




          </ng-template>
        </li>
        <li ngbNavItem="macros">
          <a class="botao btn-default btn-linha" ngbNavLink>
            <fa-icon class="remove" [icon]="icons.macros"></fa-icon>
            Macro Nutrients
          </a>
          <ng-template ngbNavContent>
            <div class="row macro-items macros">
              <div class="col-12">
                <p>Macro nutrients, Proteins, Carbohydrate and Fats</p>
                <p><small>Carbohydrates are calculated based on the remaining calories divide by 4</small></p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th class="calories-item {{item.calc}}" scope="col" *ngFor="let item of Macros.calories">
                        <fa-icon [icon]="icons[item.calc]"></fa-icon>
                        {{ item.title }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let macro of Macros.macros; let $f = first">
                      <th class="macro-item title {{macro.calc}}" scope="col" >
                        <fa-icon [icon]="icons[macro.calc]"></fa-icon>
                        {{ macro.title }}
                      </th>
                      <td class="macro-item {{macro.calc}}" *ngFor="let calorie of Macros.calories">{{calcMacros(macro.calc, calorie.calc)}}g</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- add info on each -->
          </ng-template>
        </li>
        <li ngbNavItem="info">
          <a class="botao btn-default btn-linha" ngbNavLink>
            <fa-icon class="remove" [icon]="icons.user"></fa-icon>
            User Info
          </a>
          <ng-template ngbNavContent>
            <mc-user-card [user]="uInfo" [isView]="true"></mc-user-card>
          </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="col-12 col-lg-9"></div>
  </div>



  <a class="close">
  </a>

</div>
