<div class="d-flex macro-container" >
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills macro-menu pr-4" orientation="vertical">
    <li ngbNavItem="calories">
      <a class="botao btn-default btn-linha" ngbNavLink>
        <fa-icon class="remove" [icon]="icons.calories"></fa-icon>
        Calories
      </a>
      <ng-template ngbNavContent>
        <p>This is where calories will be, bulk, cuting and maintenance</p>
        <!-- add info on each -->
      </ng-template>
    </li>
    <li ngbNavItem="macros">
      <a class="botao btn-default btn-linha" ngbNavLink>
        <fa-icon class="remove" [icon]="icons.macros"></fa-icon>
        Macro Nutrients
      </a>
      <ng-template ngbNavContent>
        <p>Macro nutrients, Proteins, Carbohydrate and Fats</p>
        <!-- add info on each -->
      </ng-template>
    </li>
    <li ngbNavItem="info">
      <a class="botao btn-default btn-linha" ngbNavLink>
        <fa-icon class="remove" [icon]="icons.user"></fa-icon>
        User Info
      </a>
      <ng-template ngbNavContent>
        <p>User info</p>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>

  <a class="close">

  </a>

</div>
