<div *ngIf="user" class="card card-shadow" #card>
  <!-- if bot card -->
  <div class="card-body p-3">
    <h5 class="card-title hide-text-overflow" [title]="name">{{name}}</h5>

    <div class="actions">
      <fa-icon *ngIf="!isView" class="view" [icon]="icons.faEye" (click)="view()"></fa-icon>
      <fa-icon class="edit" [icon]="icons.faEdit" (click)="edit()"></fa-icon>
      <fa-icon class="remove" [icon]="icons.faTrashAlt" (click)="remove()"></fa-icon>
    </div>

    <hr class="card-line" />
    <p class="card-text text-left hide-text-overflow" *ngFor="let prop of userProps(user)">
      <span *ngIf="prop != '_id'" [title]="user[prop]"><b>{{prop}}:</b> {{user[prop]}}</span>
    </p>
  </div>
</div>
