// @import url('//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

@import "./_imports.scss";

*{
  margin:0;
  padding:0;
  -webkit-text-stroke:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:optimizeLegibility;
  outline:none;
  font-family: $font;
  @extend %box-sizing;
}



html{
  @extend %fullheightwidth;
}

body{
  background:#fff;
  @extend %fullheightwidth;
  overflow-x: hidden;
}

.btn:active,
.btn.active{
  @extend %u-no-outline;
}

$field-list: input textarea button label;
@each $field in $field-list{
  #{$field}:hover{
    @extend %u-no-outline;
    @extend %u-no-shadows;
  }
  #{$field}:focus{
    @extend %u-no-outline;
    @extend %u-no-shadows;
  }
  #{$field}:active{
     @extend %u-no-outline;
     @extend %u-no-shadows;

  }
}
