@mixin dFlex( $justify-content: 'null' , $align-items:'null', $flex-wrap:'null' ){
  display: flex;

  @if( $justify-content != 'null' ){
    justify-content: $justify-content;
  }

  @if( $align-items != 'null' ){
    align-items: $align-items;
  }

  @if($flex-wrap != 'null' ){
    flex-wrap: $flex-wrap;
  }

}
@mixin dFlexChild($flex-grow:'null', $flex-basis:'null', $max-width:'null'){
  @if($flex-grow != 'null'){
    flex-grow: $flex-grow;
  }

  @if($flex-basis != 'null'){
    flex-basis: $flex-basis;
  }

  @if($max-width != 'null'){
    max-width:$max-width;
  }

}
@mixin webkit-autofill($cor: $cor-padrao, $shadow:$branco){
  -webkit-box-shadow: inset 0 0 0 50px  $shadow!important;
  -webkit-text-fill-color: $cor;
}
@mixin transicao($prop: all, $time: .5s ){
  transition: $prop ease $time
}
@mixin transform($prop, $value){
  transform:#{$prop}#{'(#{$value})'};
}
@mixin rotatey($value){
  @include transform(rotatey, $value)
}
@mixin botao($background, $color){
  background-color:$background;
  color:$color;
  &.btn-linha{
    color:$background;
    background-color:$branco;
    border-color:$background;
  }
  &:not([href]){
    color:$color;
    &.btn-linha{
      color:$background;
      &:hover{
        color:$background;
      }
    }
    &:hover{
      color:$color;
    }
  }

  &:hover{
    background-color:darken($background, 8%);
    &.btn-linha{
      color:darken($background, 8%)!important;
      background-color:$branco;
      border-color:darken($background, 8%);
    }
  }

}
@mixin icone($clickable:"false", $animation:opacity){
  @extend %icon;
  opacity:0.5;
  @include transicao($animation, 0.2s);
  @if($clickable == 'true'){
    cursor:pointer;
  }

  &:hover{
    opacity:1;
  }

}
