@import "../../assets/scss/_imports";
/* css para os botoes */
%btn-macro-calc-success{
  @include botao($macro-calc-success, $branco);
}
%btn-macro-calc-danger{
  @include botao($macro-calc-danger, $branco);
}
%btn-macro-calc-warning{
  @include botao($macro-calc-warning, $branco);
}
%btn-macro-calc-info{
  @include botao($macro-calc-info, $branco);
}
%btn-macro-calc-info-navy{
  @include botao($macro-calc-info-navy, $branco);
}
%btn-macro-calc-info-navy-2{
  @include botao($macro-calc-info-navy-2, $branco);
}

%btn-darkorange{
  @include botao($darkorange, $branco);
}
%btn-navyblue2{
  @include botao($navyblue2, $branco);
}
%btn-danger{
  @include botao($vermelho, $branco);
}
%btn-vermelho-rosa{
  @include botao($vermelho-rosa, $branco);
}
%btn-success{
  @include botao($verde, $branco);
}
%btn-sucesso{
  @include botao($verde, $branco);
}
%btn-default{
   border:1px solid $cinza-ba;
   color:$cinza-ba;
   &.btn-linha{
     border-color:$cinza-ba;
   }
   &:hover{
     background-color:$backgroundf8;
   }
}
%btn-warning{
  @include botao($amarelo, $branco);
}
%btn-primary{
  @include botao($azul, $branco);
  @extend %u-bd-color-transparent; }
%btn-cinza{
   @include botao($cinza, $branco);
 }
%btn-cinza-claro{
  @include botao($cinza-claro, $cinza);
  @extend %u-bd-color-transparent;
}
%btn-cinza-claro-claro{
  @include botao($cinza-claro-claro, $cinza);
  @extend %u-bd-color-transparent;
}
%btn-cor-padrao{
  @include botao($cor-padrao, $branco);
  &:hover{
    background-color:$cor-padrao-hover;
    &.btn-linha{
      color:$cor-padrao-hover!important;
      background-color:$branco;
      border-color:$cor-padrao-hover;
    }
  }
}
%btn-cancelar{
  @include botao($cinza-cancelar, $branco);
  border:1px solid $cinza-cancelar-bordas;
  &.btn-linha{
    border-color:$cinza-cancelar-bordas;
  }
  &:hover{
    background-color:$backgroundf8;
  }
}
%btn-cinza-ba{
  @include botao($cinza-ba, $branco);
  &.btn-linha{
    border-color:$cinza-ba;
  }
}
%btn-cinza-claro-escuro{
  @include botao($cinza-claro-escuro, $branco);
  &.btn-linha{
    border-color:$cinza-claro-escuro;
  }
}

%btn-select-file-hover{
  background-color:darken($cinzaf6, 5%);
  color:darken($cinza-claro-escuro,15%)!important;
  border-color:$cinza-ba;
}

%btn-select-file{
  @include botao($cinzaf6, $cinza-claro-escuro);
  border-color:$cinza-ba;
  &:hover{
    @extend %btn-select-file-hover;
    &.btn-linha{
      @extend %btn-select-file-hover;
    }
  }
}

%btn-flex{
  @include dFlex;
  align-items:center;
  justify-content: center;
  width: auto; //fallback
  width: max-content;
  max-width:100%;
  color:#888;
}

$btnList:
  btn-navyblue2
  btn-macro-calc-success
  btn-macro-calc-danger
  btn-macro-calc-warning
  btn-macro-calc-info
  btn-macro-calc-info-navy
  btn-macro-calc-info-navy-2
  btn-danger
  btn-success
  btn-default
  btn-warning
  btn-primary
  btn-cinza
  btn-cinza-claro
  btn-cinza-claro-claro
  btn-cor-padrao
  btn-cinza-claro-escuro
  btn-cinza-ba
  btn-vermelho-rosa
  btn-sucesso
  btn-select-file
  btn-cancelar
  btn-darkorange;

  a.botao{
    @extend %btn-flex;
  }


.botao{
  @extend %u-text-align-center;
  @extend %u-font-weight-bold;
  @extend %u-cursor-pointer;
  font-size:$botao-font-size;
  border-radius:$botao-border-radius;
  padding:$botao-padding;
  border:$botao-border;
  height:$botao-altura;
  @include transicao(background);
  min-width: 85px;

  &.btn-flex{
    @extend %btn-flex;
    &.center-content{
      justify-content: center;
    }

  }

  &.btn-cursor-default{
    @extend %u-cursor-default;
  }

  &.btn-linha{
    background-color:$branco;
  }
  &.btn-regular{
    @extend %u-font-weight-regular;
  }
  &.btn-font-15{
    font-size:15px;
  }

  &.btn-xs{
    font-size: 12px;
    padding: 0 10px;
    height: 30px;
    min-width: initial;
  }
  &.btn-sm{
    height:$botao-sm;
  }
  &.botao-md{
    height:$botao-md;
  }
  &.btn-large{
    height:$botao-lg;
  }

  //atributos
  &[disabled]{
    @extend %u-cursor-not-allowed;
    @extend %u-bd-color-transparent;
    @extend %u-no-pointer-events;
    opacity:0.6;
  }

  //filhos
  i, span{ color:inherit; line-height:1; font-size:inherit; }

  //pseudo-class
  &:hover{
    @extend %u-bd-color-transparent;
    @extend %u-text-decoration-none;
  }


  //subclasses
  @each $btn in $btnList{
    &.#{$btn}{
      @extend %#{$btn};
    }
    &.#{$btn}-hover:hover{
      @extend %#{$btn};
    }
  }

}


%groupmargin{
  margin: 0px 6.5px;
  &:first-child{ margin-left:0; }
  &:last-child{ margin-right:0; }
}

.botao-group{
  display:flex;
  .botao{
    @extend %groupmargin;
  }
  action-buttom{
    @extend %groupmargin
  }

}


.btn-bar-container{
  position: relative;
  .btn-bar-top {
    height: 1px;
    background: #fff;
  }

  .btn-bar{
    position: sticky;
    top: 53px;
    z-index: 1;
    background: #fff;
    // width:calc( 100% + 20px );
    // margin: 0 -20px;
    padding: 10px 0px;

    &.sticky{
      // border-bottom:1px solid $cinza-bordas;
      // border-right: 1px solid $cinza-bordas;
      // border-radius: 0 0 5px 0px;
      @extend %bots-shadow;
    }
  }
}
